.rooms {
    font-size: 10px;
    font-family: sans-serif;
    padding-left: 10px;
    opacity: 0.50; ;
    padding: 10px;
    margin-left: 10px;
}
.newRoom {
    margin-left: 30px;
    padding: 10px;
}
.selectedRoom {
    padding: 15px;
}
#messageContainer {
    float: right;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 85%;
    height: 100%;
}