html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
#chatRoomTitle {
    font-size: 40px;
    padding-top: 30px;
    margin: 0px;
    width: 380px;
    background-color:lightgrey; }
body {
    background-color:white;
}
aside {
    height: 100%;
    width: 15%;
    background-color: lightgrey;
    float: left;
}
.newRoom {
    padding: 10px;
    margin-left: 30px;
}
.selectedRoom {
    font-size: xx-large;
}
ul {
    list-style-type: none;
}
li {
    margin: 0px;
    padding: 10px;
}
ul:nth-child(even){background-color:lightgray}
