<!--Side Bar Container-->
<aside>
    <!--Title & New Room btn-->
        <h4 id="chatRoomTitle">Bloc Chat<span><button class="newRoom" ng-click="homeCtrl.open()">New Room</button></span></h4>
        <!-- Rooms display -->
        <section class="rooms" ng-repeat="room in homeCtrl.rooms" ng-click="setActiveRoom(room)">
            <h2>{{room.$value}}</h2>
        </section>
</aside>

<!--Message list container-->
<div id="messageContainer">
    <h5 class="selectedRoom">{{ activeRoom.$value }}</h5>
        <ul class="messages" ng-repeat="message in messages">
            <li > {{message.username}} <br> {{message.content}}  {{message.sentAt}} </li>        
        </ul>

 <!--Message bar-->
        <div class="messageBar">
            <input type="text" placeholder="Write message here..." ng-model="homeCtrl.newMessage"> <span><button class="sendMessageBtn" type="button" ng-click="homeCtrl.sendMessage(homeCtrl.newMessage, activeRoom)">Send</button></span>
        </div>
 </div>